* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 body {
    overflow: hidden;
 }

header{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    background-color:white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color:peru;
    margin-left: 50px;


}
.navbar{
    display: flex;
    align-items: center;
    margin-left: auto;
}
nav ul {
    list-style: none;
    display: flex;
    font-weight: bold;
}

.home{
    color:peru;
}
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.quote-btn {
    background-color:peru;
    color: whitesmoke;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
}

.hero  {
    position: relative;
    height: 100vh;
    background: url(image.jpg);
    display : flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.hero-content {
    z-index: 2;
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.read-more {
    padding: 12px;
    text-decoration: none;
    font-family: 16px;
    font-weight: bold;
    border: 5px;
    background-color:peru;
    color: white;
}

.free-quote{
    padding: 12px;
    text-decoration: none;
    font-family: 16px;
    font-weight: bold;
    border: 5px;
    background-color:white;
    color: black;
}