* {
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: aliceblue;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url('rubi.png');
    background-size: cover;
    background-position: center;    
    background-repeat: no-repeat;
    overflow: hidden;
    align-items: center;
    line-height: 1;
    letter-spacing: 0.2rem;
}

body h1 {
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    height: 20px;
}

.logo {
    font-size: 25px;
    font-weight:bolder;
    color: #8b5e34; 
    text-decoration: none;
}

.feature a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display:contents;
    gap: 20px;
    justify-content: center;
}

nav ul li {
    justify-content: center;
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    cursor: pointer;
    gap: 30px;
}

.Signup, .Login {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 5px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;     */
}

.flex{
    display: flex;
    position: fixed;
    border-color: rgb(164, 184, 192);
    border-radius: 2px;
    cursor: pointer;
    text-decoration: none;
}

.box1{
    display:flex;
    position: fixed;
    top: 15%;
    left: 17%;
    background-color: black;
    padding: 0;
    align-items:first baseline;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

.box-heading{
    font-size: 30px;
    margin: 0;
}

.box1 img{
    width: 7%;
    height: 3%;   
    border-radius: 50%;
    object-fit: cover;
}

.box2{
    display:flex;
    position: fixed;
    top: 15%;
    right: 16%;
    background-color: none;
    padding: 0;
    align-items:first baseline;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

h3{
    font-size: 30px;
}

.box2 img{
    width: 7%;
    height: 3%;   
    border-radius: 50%;
    object-fit: cover;
}



.box3{
    display:flex;
    position: fixed;
    bottom: 20%;
    left: 17%;
    background-color: none;
    padding: 0;
    align-items:first baseline;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

h4{
    font-size: 30px;
}

.box3 img{
    width: 9%;
    height: 4%;   
    border-radius: 50%;
    object-fit: cover;
}

.box4{
    display:flex;
    position: fixed;
    bottom: 20%;
    right: 13%;
    background-color: none;
    padding: 0;
    align-items:first baseline;
    text-decoration: none;
    height: fit-content;
    width: fit-content;
}

h5{
    font-size: 30px;
}

.box4 img{
    width: 7%;
    height: 3%;   
    border-radius: 50%;
    object-fit: cover;
}

.promo-container{
    z-index: 100;
    text-align: center;
    /* background-color: none; */
    /* border-radius: 10px; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.footer {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
.subfooter {
    margin-top: 10px;
    color: #555;
}
.profile-pictures {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.profile-pictures img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: left -8px;
    border: 2px solid blue;
}

.container{
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
}